---
http_interactions:
- request:
    method: get
    uri: https://api.adroll.com/v1/organization/get
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"results": {"billing_city": null, "name": "nikolasliamdavis@gmail",
        "billing_name": null, "tax_id": null, "created_date": "2015-03-26 03:40:25",
        "is_trusted": false, "api_request_limit": 30, "is_sandbox": false, "eid":
        "2W3B6YNEVRFMZG46T767MT", "billing_street_2": null, "billing_email": null,
        "billing_postal_code": null, "vat_number": null, "billing_street": null, "referral_payment_eligible":
        true, "billing_country": null, "is_prepaid": true, "billing_state": null}}'
  recorded_at: Wed, 29 Apr 2015 14:48:47 GMT
recorded_with: VCR 2.9.3
